@font-face {
    font-family: "bebas";
    src: url("assets/fontes/Bebas-Regular.otf") format("opentype");
}

.home {
    
}


.hello {
    font-size: 40px;
}

.ap {
    font-size: 20px;
    margin: 100px;
    color: rgba(250, 250, 250, 0.95);
}

.NomeFrente {
    color: rgba(250, 250, 250, 0.95);
    line-height: 0;
    font-size: 80px;
    font-family: "coolvetica", sans-serif;
    letter-spacing: 6px;
    margin: 40px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* ================================
   4. NAVBAR GLASS (IA)
================================ */
.navbar-glass {
    opacity: 70%;
    font-family: "bebas", sans-serif;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    height: 60px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 999999;
}

.navbar-glass a {
    font-size: 18px;
    color: #ffffffce;
    text-decoration: none;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: 0.3s ease;
}

.navbar-glass a:hover {
    transform: scale(1.15);
    color: #F44433;
}

.navbar-glass a img {
    width: 22px;
    height: 22px;
    filter: invert(1);
    opacity: 0.8;
    pointer-events: none;
}

.insta-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.ap {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    margin-left: 190px;
    gap: 20px;
    margin-top: 10px;
}

.btn-insta {
    width: 50px;
    height: 50px;
    transition: transform .2s;
}

.btn-insta:hover {
    transform: scale(1.1);
}

.sobre {

    background-image: url("assets/bgSobre.png");

}

.prototipo {
    width: 220px;
    height: 120px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);


}

